<!DOCTYPE html>
<html>
	<head>
		<title>Job</title>
		
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
		<script language="javascript" type="text/javascript" src="/static/date.js"></script>
		<script language="javascript" type="text/javascript" src="/static/jquery.min.js"></script>
		<script language="javascript" type="text/javascript" src="/static/jquery.flot.min.js"></script>
		<script language="javascript" type="text/javascript" src="/static/jquery.flot.navigate.min.js"></script>
		<script language="javascript" type="text/javascript" src="/static/jquery.flot.cloneaxes.js"></script>
		
		<style type="text/css">
			.graphCaption
			{
				font-family: sans-serif;
				font-size: 16px;
				margin-bottom: 5px;
			}

			.graphSubcaption
			{
				font-family: sans-serif;
				font-size: 14px;
				margin-bottom: 14px;
			}

			#graphContainer
			{
				margin-left: auto;
				margin-right: auto;
			}

			#jobHeader
			{
				font-family: sans-serif;
				font-size: 24px;
				margin-bottom: 10px;
			}

			#jobInfo
			{
				font-family: sans-serif;
				font-size: 16px;
				margin-bottom: 15px;
			}
		</style>
	</head>
	
	<body>
		<div id="graphContainer" style="width: 600px;">
			<div id="jobHeader"></div>
			<div style="float: right;">
				<a href="/"><img src="/static/home.png" style="width: 32px; height: 32px; margin-top: 0em;" /></a>
			</div>
			<div id="jobInfo"></div>
		</div>
		
		<script language="javascript" type="text/javascript">
			var sensorData = new Object;
			var previousPoint = null;
			var plots = [];
			var suppressZoom = false;
			
			function showTooltip(x, y, contents)
			{
				$('<div>')
					.attr('id', 'tooltip')
					.html(contents)
					.css({
						position: 'absolute',
						display: 'none',
						top: y + 5,
						left: x + 5,
						border: '1px solid #fdd',
						padding: '2px',
						'background-color': '#fee',
						opacity: 0.80
					})
				.appendTo("body")
				.fadeIn(0);
			}

			$(window).ready(function ()
			{
				$.get("/jobs/{{ guid }}", function(data)
				{
					var joinTimestamp = function(w,f,b) { return w+f/1000.0-b; };
					var basetime = data['job'][0];
					var ctr = 0;

					// Fill in job info

					var sdate = new Date();
					sdate.setTime(basetime * 1000);
					$('#jobHeader').html(
						"Job started " + sdate.toString('MMMM d, yyyy h:mm:ss tt')
					);

					$('#jobInfo').html(
						"<b>Host:</b> " + data['job'][1] + "<br/>" +
						"<b>Owner:</b> " + data['job'][2]
					);

					// Collate data
					//gdata = data;

					for(var i in data['config'])
					{
						var cobj = data['config'][i];
						sensorData[cobj[0]] = new Object;
						sensorData[cobj[0]].voltage = cobj[1];
						sensorData[cobj[0]].description = cobj[2];
						sensorData[cobj[0]].data = [];
						sensorData[cobj[0]].markers = [];
						sensorData[cobj[0]].domId = ctr;
						ctr += 1;
					}

					for(var i in data['data'])
					{
						var cobj = data['data'][i];
						sensorData[cobj[0]].data.push([joinTimestamp(cobj[1], cobj[2], basetime), cobj[3]]);
					}

					for(var i in data['markers'])
					{
						var cobj = data['markers'][i];
						var xpos = joinTimestamp(cobj[0], cobj[1], basetime);

						for(var k in sensorData)
						{
							sensorData[k].markers.push({xaxis: {from: xpos, to: xpos}, lineWidth: 1, color: "#000088"});
						}
					}

					// Calculate aggregate datas
					for(var k in sensorData)
					{
						var sum = 0.0;
						for(var i in sensorData[k].data)
							sum += sensorData[k].data[i][1] / 1000.0;

						sum /= sensorData[k].data.length;
						sum *= sensorData[k].voltage;

						sensorData[k].averagePower = sum;
						sensorData[k].totalPower = sum * (sensorData[k].data[sensorData[k].data.length-1][0] - sensorData[k].data[0][0]) / 3600.0;
					}
					
					// Create displays

					for(var k in sensorData)
					{
						$('#graphContainer').append(
							$('<div>')
								.html(sensorData[k].description + ' (' + k + ')')
								.addClass('graphCaption')
						);

						$('#graphContainer').append(
							$('<div>')
								.html('Average Power: ' + sensorData[k].averagePower.toFixed(2) + ' W, Total Consumed: ' + sensorData[k].totalPower.toFixed(2) + ' W-h')
								.addClass('graphSubcaption')
						);

						$('#graphContainer').append(
							$('<div>')
								.attr('id', 'plot' + sensorData[k].domId)
								.addClass('powerPlot')
								.css('width', '600px')
								.css('height', '150px')
						);

						$('#graphContainer').append("<br/>");

						// Zoom/pan calculations
						var minXRange = Math.abs(sensorData[k].data[0][0] - sensorData[k].data[1][0]);
						var minX = sensorData[k].data[0][0], maxX = minX;
						var minYRange = Math.abs(sensorData[k].data[0][1] - sensorData[k].data[1][1]);
						var minY = sensorData[k].data[0][1], maxY = minY;

						for(var j in sensorData[k].data)
						{
							if(j == 0) continue;

							var prevX = sensorData[k].data[j-1][0];
							var prevY = sensorData[k].data[j-1][1];
							var thisX = sensorData[k].data[j][0];
							var thisY = sensorData[k].data[j][1];

							minXRange = Math.min(minXRange, Math.abs(prevX - thisX));
							minYRange = Math.min(minYRange, Math.abs(prevY - thisY));
							minX = Math.min(minX, thisX);
							minY = Math.min(minY, thisY);
							maxX = Math.max(maxX, thisX);
							maxY = Math.max(maxY, thisY);
						}

						var maxXRange = maxX - minX;
						var maxYRange = maxY - minY;

						var thisPlot = $.plot($('#plot'+sensorData[k].domId), [{data: sensorData[k].data}],
						{
							series: { points: { show: true } },
							xaxis: { zoomRange: [minXRange, maxXRange], panRange: [minX, maxX], min: minX, max: maxX },
							yaxis: { zoomRange: [minYRange, minYRange], panRange: [minY-maxYRange, maxY+maxYRange], min: minY - maxYRange, max: maxY + maxYRange },
							zoom: { interactive: true },
							pan: { interactive: true },
							grid: { hoverable: true, clickable: true, markings: sensorData[k].markers }
						});

						plots.push(thisPlot);

						$('#plot'+sensorData[k].domId).bind('plothover', function (event, pos, item)
						{
							if (item)
							{
								if(previousPoint != item.dataIndex)
								{
									previousPoint = item.dataIndex;
									
									$("#tooltip").remove();
									var x = item.datapoint[0].toFixed(2),
										y = item.datapoint[1].toFixed(2);
										
									showTooltip(item.pageX, item.pageY, "Time: " + x + "<br/>mA: " + y);
								}
								else
								{
									$("#tooltip").remove();
									previousPoint = null;
								}
							}

							// What markers is the mouse between? Then highlight.
							var r = 0, rend = 0;
							for(var i in data['markers'])
							{
								var cobj = data['markers'][i];
								var xpos = joinTimestamp(cobj[0], cobj[1], basetime);

								if(xpos > pos.x)
								{
									r = Number(i) - 1;
									break;
								}
							}

							if(r+1 == data['markers'].length) rend = joinTimestamp(data['markers'][r+1][0], data['markers'][r+1][1], basetime);
							else rend = maxX;
							
							if(r < 0) r = 0;
							else r = joinTimestamp(data['markers'][r][0], data['markers'][r][1], basetime);

							for(var i in plots)
							{
								plots[i].reloadMarkings(sensorData[k].markers.concat([{xaxis: {from: r, to: rend}, lineWidth: 1, color: "#33CCFF"}]));
							}
						});
					}

					// Plot zoom + pan synchronization
					syncAxes = function(event, plot) {
						for(var i in plots)
						{
							if(plots[i].getPlaceholder().attr('id') == $(this).attr('id')) continue;
							plots[i].cloneAxes(plot);
						}
					};

					$('.powerPlot').bind('plotzoom', syncAxes);
					$('.powerPlot').bind('plotpan', syncAxes);
				}, "json");
			});
		</script>
	</body>
</html>